body#login-body {
    background: #c1e1c9;
    div.login {
        margin: 0px auto;
        margin-top: 40vh;
        border-radius: 30px;
        width: 300px;
        height: 150px;
    }
    button {
        color: white;
    }
}
body#room-body {
    div.container {
        padding: 20px;
    }
    background:#c1e1c9;
    div.room {
        padding: 10px;
        margin-top: 10px;
        background: #92d282;
        border-radius: 20px;
        button {
            background: #87C0F1;
            height: 3em;
        }
    }
    button {
        color: white;
    }
    div.user-info {
        margin: 10px;
        padding: 10px;
        color: white;
    }
}
